[submodule "edk2"]
        path = edk2
        url = https://github.com/NumberOneGit/edk2.git
        branch = master
[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/Xemorph/edk2-platforms
