[submodule "edk2-platforms"]
	path = edk2-platforms
	url = https://github.com/Xemorph/edk2-platforms
[submodule "edk2-non-osi"]
	path = edk2-non-osi
	url = https://github.com/Xemorph/edk2-non-osi
	branch = master
